/* General CSS */
* {
    margin: 0;
    padding: 0;
    position: relative;
    /* border: 1px solid; */
}
h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

h1 {
    color: #104212;
    margin: 0.5rem 0;
}

p {
    font-family: 'Roboto', sans-serif;
}

/* ---------------- HEADER ------------------- */
header > a img {
    width: 20vw;
    margin: 2%;
    box-shadow: 0 0 2px 2px #48321E;
    border-radius: 20%;
}

/* Nav */
nav button {
    margin: .2rem 2vw;
    background-color: transparent;
    border: none;
    font-size: 3rem;
    color: #48321E;
    position: absolute;
    top: 20px;
    right: 0;
}

nav {
    background-color: white;
    position: static;
}

nav ul {
    list-style-type: none;
    /* padding: 0;
    margin: 0; */
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #48321E;
    font-family: 'Roboto Slab', serif;
    border-top: 1px solid rgb(115, 80, 48);
    text-align: center;
}

nav ul li a:hover {
    background-color: rgba(72, 50, 30, 0.8);
    color: white;
}

nav ul li.active a {
    background-color: #48321E;
    color: #fff;
}

nav ul {
    display: none;
}

nav ul.open {
    display: block;
}

#hamburgerBtn span:nth-child(1) {
    display: block;
}

#hamburgerBtn span:nth-child(2) {
    display: none;
}

#hamburgerBtn.open span:nth-child(1) {
    display: none;
}

#hamburgerBtn.open span:nth-child(2) {
    display: block;
}

 /* SOCIAL MEDIA */

.social img {
    width: 3.5rem;
    border-radius: 50%;
    margin: 0.5rem;
}

.social {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 15%;
    top: 20px;
}

/* HERO SLIDES */
.heroBox {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100vw;
    height: 25vh;
    margin-top: 0.5rem;
}

.controls {
    padding: 10px;
}

.heroBox button {
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
    width: 10vw;
    background-color: rgba(245, 245, 245, 0.5);
    border: none;
    font-size: 1.5rem;
    position: absolute;
    z-index: 1;
}

#prevBtn {
    transform: rotate(180deg);
    top: 40%;
    left: 2%;
}

#nextBtn {
    top: 40%;
    left: 88vw;
}

.slider {
    width: 100vw;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.slide {
    width: 100vw;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.slide.active {
    opacity: 1;
}

.slider div:nth-child(1) {
    background-color: #48321E;
}

.slider div:nth-child(2) {
    background-color: green;
}

.slider div:nth-child(3) {
    background-color: aqua;
}

.callToAction {
    text-decoration: none;
    font-size: 1.1rem;
    background-color: yellow;
    width: 30vw;
    text-align: center;
    color: black;
    padding: 10px;
    border-radius: 50%;
    position: absolute;
    bottom: 10%;
    left: 55%;
    font-family: 'Roboto Slab', serif
}

.callToAction:hover {
    background-color: darkorange;
}

/* ------------------- MAIN ----------------------- */
main {
    background-color: #FEF9EC;
    padding: 1rem;
}

/* DEMOGRAPHIC INFO */

.place {
    padding: 1rem;
    text-align: justify;
    border: 1px solid #0099E0;
    border-radius: 2%;
    box-shadow: 0 0 1px 1px #85D8FF;
    background-color: #C2ECFF;
    margin-bottom: 1rem;
}

.place img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

/* .section-container .place:nth-child(1){
    background-color: aqua;
}

.section-container .place:nth-child(2) {
    background-color: yellow;
}

.section-container .place:nth-child(3) {
    background-color: lightgreen;
} */

/* WEATHER INFO */
.weatherContainer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    border: 1px solid #FFBE85;
    box-shadow: 0 0 2px 2px #FFBE85;
    border-radius: 2%;
    margin-bottom: 2rem;
}

.currentWeather {
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 15% 1fr 1fr;
    grid-template-rows: 50% 50%;
    justify-items: center;
    align-items: center;
    text-align: center;
    height: fit-content;
    padding: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.currentWeather img {
    width: 60px;
    height: 60px;
    grid-column: 1/2;
    grid-row: 1/3;
}

.temperature {
    grid-column: 2/3;
    grid-row: 1/2;
}

#weather-condition {
    grid-column: 2/3;
    grid-row: 2/3;
}

.forecastContainer {
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin: 0.5rem 0;
}

.forecastContainer > div p:first-child {
    width: 60%;
}

.forecastContainer > div p:last-child {
    width: 20%;
    text-align: center;
}

.forecastContainer > div img {
    margin: 0 auto;
}

.forecastContainer > div{
    display: flex;
    padding: 0.5rem 1rem;
    align-items: center;
}

.forecastContainer img {
    width: 40px;
    height: 40px;
}

/* SUBMITTED DRINKS COUNTER */
.specialInfoContainer {
    border: 1px solid #FF9233;
    border-radius: 2%;
    width: 70%;
    margin: 0 auto;
    background-color: #FFD3AD;
}

.innerInfo {
    margin: 1rem;
    border: 1px solid #FFBE85;
    padding: 1rem;
    box-shadow: 0 0 2px 2px #FFBE85;
    text-align: center;
    background-color: #FFDEC2;
}

.innerInfo h2 {
    margin-bottom: 1.5rem;
}

#drinksTotal {
    font-size: 4rem;
}

/* ------------------ FOOTER ---------------------- */

footer {
    background-color: #48321E;
    margin-top: 1.5rem;
    padding: 1rem 0;
    font-family: 'Roboto Slab', serif;
}

.businessInfo {
    text-align: center;
    color: white;
    font-weight: bolder;
}

.businessInfo img {
    width: 200px;
    border-radius: 2%;
    margin-bottom: 0.5rem;
}

.businessInfo > p {
    font-size: 1.1rem;
    line-height: 1.8rem;
}

.email:hover, .phone:hover {
    color: #0099E0;
}

hr {
    border-color: #735030;
}

.credits {
    margin-top: 1rem;
    line-height: 1.5rem;
}

.credits p:nth-child(2) {
    font-weight: bolder;
}

.references a {
    text-decoration: none;
    color: #85D8FF;
}

.references a:hover {
    color: #0099E0;
}