@media (min-width: 37.5em) {
    nav {
        flex-direction: row;
    }

    nav a {
        font-size: 1.1rem;
    }

    #personas {
        margin-top: -100px;
    }

    #siteheading {
        grid-row: 1/2;
    }
    #text-container {
        grid-row: 2/3;
        margin-top: -10px;
    }

}