/*----------------- GENERAL CSS -------------------------*/
* {
    margin: 0;
    padding: 0;
    position: relative;
}

/* BANNER CSS */
.banner {
    background-color: #F5F5F5;
}

.banner_content {
    padding: 16px;
    margin: 0 auto;
    display: flex;
    text-align: center;
}

.banner_text {
    flex-grow: 1;
    line-height: 1.4;
    font-family: 'Roboto Slab', serif;
}

.banner_close {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    margin: 0 20px;
}

body {
    font-size: 1.1rem;
}

header {
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 1rem;
    font-family: 'Roboto Slab', serif;
}

header > a > img {
    width: 11.5em;
}

main {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
footer {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: 'Source Serif Pro', serif;
    line-height: 1.5rem;
}

/* Nav CSS */
nav button {
    margin: .2rem 2vw;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: white;
    position: absolute;
    top: 40px;
    right: 0;
}

nav {
    background-color: #D6C599;
    position: static;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #2b2c24;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    text-align: center;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

nav ul li.active a {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

nav ul {
    display: none;
}

nav ul.open {
    display: block;
}

#hamburgerBtn span:nth-child(1) {
    display: block;
}

#hamburgerBtn span:nth-child(2) {
    display: none;
}

#hamburgerBtn.open span:nth-child(1) {
    display: none;
}

#hamburgerBtn.open span:nth-child(2) {
    display: block;
}

/* Header CSS */
header, footer {
    background-color: #2b2c24;
    color: white;
}

h1 {
    font-size: 20px;
}

.social img {
    border-radius: 50%;
    width: 2em;
    margin: 5px;
}

.social a {
    text-decoration: none;
    color: #2b2c24;
}

.social {
    position: absolute;
    top: 40px;
    right: 45px;
}

#currentDate {
    background-color: #D6C599;
    color: #2b2c24;
    padding: .7rem;
    text-align: center;
    margin-top: 10px;
}

/*---------------------- HOME PAGE ------------------------*/
/*Main CSS*/
main > div {
    background-color: #F5F5F5;
    margin: 10px 0;
    max-height: 100%;
    max-width: 100%;
    padding: 10px;
    border: 1px solid #C2C2C2;
    font-family: 'Nunito Sans', sans-serif;
}

#spot-container> div {
    border: 1px solid #C2C2C2;
    padding: 10px;
    height: fit-content;
}

#spot-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

/*HERO CONTAINER*/
#hero_img {
    max-height: 100%;
    width: 100%;
}

.hero_container {
    padding: 0;
}

.hero_container > h1{
    position: absolute;
    top: 25px;
    left: 25px;
    font-size: 1.5em;
    font-family: 'Source Serif Pro', serif;
    text-shadow: 1px 1px 5px black;
}

.call_to_action {
    display: block;
    width: fit-content;
    background-color: #D6C599;
    padding: 10px;
    text-align: center;
    color: #2b2c24;
    font-size: 1em;
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px #2b2c24;
    position: absolute;
    bottom: 30px;
    right: 30px;
    text-shadow: 1px 1px;
}

/*EVENT CSS*/
.event {
    text-align: center;
}

.event h2, .event h3 {
    margin: 10px;
}

div h2, h2 {
    text-shadow: 2px 2px 5px #D6C599;
    color: #424337;
    text-align: center;
    margin-bottom: 10px;
}
.event > p {
    padding: 5px;
}

#more {
    display: none;
}
#moreBtn {
    padding: 10px;
    margin: 10px 0;
    font-family: 'Nunito Sans', sans-serif;
    background-color: #F5F5F5;
}

/*WEATHER CSS*/
.weather {
    max-width: 60%;
    margin: 10px auto;
    padding: 20px;
}

.weather img {
    max-width: 30%;
}

#degrees {
    font-size: 1.5em;
    position: absolute;
    top: 30%;
    right: 25%;
}

#weather_text {
    font-size: 1.5em;
    position: relative;
    left: 60%;
    max-width: fit-content;
}

.weather p {
    font-size: 1.1em;
}

.weather_info {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

/*New Release css*/
.new_release {
    text-align: center;
    padding: 10px;
}

/* --- SPOT CONTAINER --- */
#spot-container {
    text-align: center;
    padding: 20px;
}

#spot1, #spot2, #spot3 {
    box-shadow: 0 0 7px 7px #C2C2C2;
}

#spot-container img {
    margin: 10px 0;
    max-width: 50%;
}
/*SPOT 1*/
#spot1 h3 {
    font-size: 1.1em;
    margin: 10px;
    font-weight: bold;
}

.email, .phone {
    margin-top: 5px;
    font-family: 'Source Serif Pro', serif;
    font-size: 1rem;
}

/*SPOT 2*/
#spot2 h3 {
    font-size: 1.1em;
    margin: 10px;
    font-weight: bold;
}

/*Footer CSS*/
.contactus p:nth-child(1),
.contactus p:nth-child(2),
.contactus p:nth-child(3) {
    margin: 10px 0;
}

.contactInfo p:nth-child(2),
.contactInfo p:nth-child(3) {
    font-style: italic;
}

hr {
    border: 1px solid #424337;
}

.selfInfo p:nth-child(1) {
    margin-top: 20px;
}

#name {
    font-weight: bold;
}

#map, #map a:visited {
    text-decoration: none;
    color: white;
}

.selfInfo {
    font-size: 1rem;
}

#spot3, #join {
    display: none;
}

/* -------------------------- DISCOVER PAGE ------------------------*/
.discover {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.discover > picture {
    margin: 0 1em 1em 1em;
}

.discover details {
    max-width: 300px;
    text-align: justify;
}

.discover summary {
    cursor: pointer;
    margin-bottom: 1em;
    font-family: 'Source Serif Pro', serif;
}

.discover details > p {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.1rem;
    margin-bottom: 1em;
}

.pictures {
    background-color: white;
    border: white;
    padding: 1em;
}

/* PLACEHOLDER SIZE */
.pictures img {
    max-width: 300px;
}

/*--------------------------- JOIN PAGE ----------------------*/
#joinpage {
    display: block;
}
form fieldset {
    margin: 1.5rem 0;
    border: 2px solid #D6C599;
    padding: 10px 3%;
    border-radius: 5px;
    font-family: 'Nunito Sans', sans-serif;
}

form legend {
    font-family: 'Source Serif Pro', serif;
    color: #2b2c24;
    margin: 0 1rem;
    padding: 0.5rem;
}

form label.top, form div, textarea {
    font-size: 1rem;
    display: block;
    padding-top: 1rem;
    color: #424337;
}

form label.sbs {
    font-size: 1rem;
    color: #424337;
    display: block;
    padding: .75rem 0;
}

form label.top input, textarea {
    display: block;
    font-size: 1rem;
    border-radius: 4px;
    padding: .75rem;
    width: 100%;
    max-width: 18rem;
    background-color: #F5F5F5;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

#submitBtn {
    border: none;
    border-radius: 1rem;
    padding: .75rem 1rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 18rem;
    font-size: 1rem;
    font-family: 'Roboto Slab', serif;
    background-color: rgb(214, 197, 153);
    box-shadow: 0 0 2px 2px #2b2c24;
}

div.table {
    display: none;
}

/*------------------ THANK YOU PAGE ---------------------------------*/
.thankyou-page {
    display: block;
    text-align: center;
}

.thankyou-page p {
    padding: 7px;
    font-family: 'Nunito Sans', sans-serif;
}

.thankyou-page h2 {
    margin-bottom: 2rem;
}
