@media (min-width: 63.1em) {

    .directory h2,
    .discover h2,
    #joinpage h2 {
        font-size: 2.5rem;
    }

    .directory,
    .discover,
    #joinpage {
        font-size: 1.5rem;
    }
    
    /*HEADER CSS*/
    header {
        flex-direction: row;
        flex-wrap: wrap;
    }

    nav {
        background-color: transparent;
        margin-top: 2.5rem;
        flex:1 30%;
    }

    nav button {
        display: none;
    }

    nav ul#primaryNav {
        display: flex;
        margin-left: 1rem;
    }

    nav ul li a {
        border: none;
        color: white;
        margin-left: 10px;
    }

    #currentDate {
        flex: 1 100%;
    }

    nav ul li.active a {
        background-color: transparent;
    }

    .social {
        right: 20px;
    }

    nav ul li.active a {
    border-bottom: 2px solid green;
    }

    /*MAIN CSS*/
    main {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 20px;
    }

    main > div {
        margin: 0;
    }

    #spot3 {
        display: block;
    }

    #spot3 h3 {
        font-size: 1.1em;
        margin: 10px;
        font-weight: bold;
    }

    #spot-container > div {
        min-height: 30%;
        max-height: 40%;
    }

    #spot-container img {
        width: 150px;
    }

    .event {
        grid-column: 1/2;
        grid-row: 1/2;
        max-width: 100%;
    }

    .hero_container {
        grid-column: 2/3;
        grid-row: 1/-2;
        height: 100%;
    }

    .hero_container img {
        height: 100%;
    }

    .hero_container>a.call_to_action {
        width: 40%;
        font-size: 2rem;
    }

    #spot-container {
        grid-column: 3/4;
        grid-row: 1/4;
        box-sizing: border-box;
    }

    .weather {
        grid-column: 1/2;
        grid-row: 2/3;
        max-width: 100%;
        max-height: 100%;
        margin: 10px 10px;
    }

    #degrees {
        top: 5.5rem;
        right: 3rem;
    }

    #join {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .new_release {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    /*FOOTER CSS*/
    .selfInfo {
        display: grid;
        grid-template-columns: repeat(4, auto);
    }
    .selfInfo p:nth-child(4) {
        display: grid;
        grid-template-columns: auto auto;
    }

    #lastModified {
        margin-left: 5px;
    }

    footer {
        padding: 30px 50px;
    }

    .contactInfo {
        left: 20rem;
    }

    footer img {
        margin-left: 6rem;
    }

    /* --------------------- -DISCOVERY PAGE --------------------- */
    .pictures {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .img-container div {
        max-width: 500px;
    }

    /* PLACEHOLDER SIZE */
    .pictures img {
        max-width: 500px;
    }

    /*----------JOIN US PAGE ----------------*/
    caption {
        caption-side: bottom;
        margin-top: 10px;
        font-style: italic;
        font-size: .8em;
    }

    /* JOIN PAGE */
    div.table {
        display: block;
        position: absolute;
        top: .5rem;
        right: 5%;
    }

    table {
        border: thin solid black;
        border-spacing: 0;
        text-align: center;
        box-shadow: 0 0 10px #F5F5F5;
    }

    th,
    td {
        border: thin solid black;
        padding: 10px;
    }

    tbody tr:nth-child(odd) td{
        background-color: #F5F5F5;
    }

    thead {
        background-color: #2b2c24;
        color: white;
    }

    /* ------------------ DIRECTORY PAGE --------------- */
    .cards {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .cards div {
        max-width: 400px;
        font-size: 1.3rem;
    }
}